@import "tailwindcss";

@theme {
  --color-aegis-dark: #0a0a0f;
  --color-aegis-panel: #15151e;
  --color-aegis-blue: #1d4ed8;
  --color-aegis-green: #00ff88;
  --color-aegis-red: #ff3366;
  --color-aegis-text: #f4f4f5;
  --color-aegis-muted: #a1a1aa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
