{% extends "shop_base.html" %}
{% block content %}
<form class="narrow" method="post" action="/shop/login">
  <h1>{{ t('login_title') }}</h1>
  {% if error %}<p class="error" role="alert">{{ icon.alert() }}{{ error }}</p>{% endif %}
  <label for="username">{{ t('username') }}</label>
  <input type="text" id="username" name="username" autocomplete="off" autocapitalize="none" spellcheck="false">
  <label for="password">{{ t('password') }}</label>
  <input type="password" id="password" name="password" autocomplete="off">
  <div class="actions"><button class="primary" data-study="login">{{ t('login') }}</button></div>
</form>
{% endblock %}
